/*--------------------------------------------------------------
# Charity Pictures
--------------------------------------------------------------*/
.charity-pics .card {
  box-shadow: 5px 2px 18px 5px #808080;
  padding: 0 30px;
  margin-bottom1: 70px;
  position: relative;
}

.charity-pics .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 10px;
}
.charity-pics .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

 img:hover {
  cursor:poniter;
}
/*
.charity-pics .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #ff0;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  margin-top: -70px;
  transition: 0.3s;
}
.charity-pics .card-title {
  font-weight: 800;
  text-align: center;
  margin-bottom: 25px;
  color: #24325d;
}
.charity-pics .card-title a {
  color: red /*#24325d*/;
  transition: 0.3s;
}
.charity-pics .card-text {
  color: #5e5e5e;
}
.charity-pics .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}
.charity-pics .read-more a:hover {
  color: #006fbe;
}
.charity-pics .card:hover img {
  transform: scale(1.1);
}
.charity-pics .card:hover .card-body {
  border-color: #006fbe;
}
.charity-pics .card:hover .card-body .card-title a {
  color: #006fbe;
}
.img-responsive  {
    width:100%;
    height: auto;
}